# Dependencias
node_modules/

# Build output
dist/
dist-ssr/

# Vite cache
.vite/

# Archivos de entorno
.env
.env.*.local
.env.local

# Logs
*.log
npm-debug.log*

# TypeScript
*.tsbuildinfo

# OS
.DS_Store
Thumbs.db

# Editores / IDE
.vscode/
.idea/
*.swp
*.swo
*~
